/* .content{
    width: 80%;
    align-items: center;
}

.button{

    display: inline-block;
}


.container{
    width: 1200px;
    height: 600px;
    align-items: center;
}

canvas{
    width: 1200px;
    height: 600px;
    align-items: center;
} */